<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
     <title>MrYali</title>
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
</head>
<body>
<div id="header">
	<div class="wrapper">
<h1 id="lockitron_header"><a href="/">
    <img src="mryali2.png" width='250' height= '75s'>
    </a></h1>
	
	<ul class="nav">
		<li class="nav-items1">Home</li>
          <li class="nav-items2">About</li>
            <li class="nav-items3">Galery</li>
            <li class="nav-items4">Blog</li>
            <li class="nav-items5">FAQ</li>
            <li class="nav-items6">Terms</li>
            <li class="nav-items7">Privacy</li>					
	</ul>
        </div>
        </div>
        </div>
  
        <div class="gray_background" id="this_is_mryali">
            <div class="wrapper center">
            </div>

            <div class="wrapper clearfix" id="backers1">
                <br>
                <br>
                <br>

  <div id="video"> 
      <div style="background-color: gray; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px">Welcome to my Page</h4>
    <iframe src="http://www.youtube.com/watch?v=-QZ79GZMZZ4" width="500" 
    height="375">
    </iframe>
      </div>
  </div>

  <div id="social">
    <a href="http://facebook.com"><img src="http://www.smartcoos.com/assets/share_facebook.png" width="177px" height="48px"/></a>
  <a href="http://twitter.com"><img src="http://www.smartcoos.com/assets/share_twitter-7d14020def2a8714469c8916a66ff4b5.png" width="177px" height="48px"></a></div>
</br>

<div class="big_wrapper" id="phases" style="margin-top:30px;">
<div class="wrapper_c" id="one">
<h3>Overcoming the Monster</h3>
<p>This type of story goes back through Beowulf to David and Goliath and surely a lot further than that. It's the classic underdog story. Ad examples include Apple's attack on Big Brother in "1984" and American Express's attempt to dent the dominance of Black Friday with Small Business Saturday.</p>
<div id="picture"> 
      <div style="background-color: #E8E8E8; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px"></h4>
    <iframe src="" width="500" 
    height="375">
    </iframe>
      </div>
  </div>
</div>
</div>
</br>
</br>
</br>

<div class="wrapper_c" id="two">
<h3>Rebirth</h3>
<p> A story of renewal. It's a Wonderful Life is a prime example from the movies. Brands telling stories of renewal include Gatorade, whose "Replay" campaign gave aging members of high-school sports teams a chance to recapture their youth through rematches against old foes; and Prudential, which is presenting retirement as the beginning of a new chapter, not the end of an old one.
</p>
<div id="picture"> 
      <div style="background-color: #E8E8E8; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px"></h4>
    <iframe src="" width="500" 
    height="375">
    </iframe>
      </div>
  </div>
</div>
</br>
</br>
</br>

<div class="wrapper_c" id="three">
<h3>Quest</h3>
<p>A mission from point A to point B. The Lord of the Rings is the classic example. IBM and Lexus are among the marketers who are on self-professed quests—making a smarter planet and relentlessly pursuing perfection, respectively.</p>
<div id="picture"> 
      <div style="background-color: #E8E8E8; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px"></h4>
    <iframe src="" width="500" 
    height="375">
    </iframe>
      </div>
  </div>
</div>
</br>
</br>
</br>

<!--<div class="wrapper_c" id="four">
<h3></h3>
<p></p>
</div>-->


<div class="wrapper_c" id="five">
<h3>Journey and Return</h3>
<p>A story about transformation through travel and homecoming. The Wizard of Oz and Where the Wild Things Are are both journey-and-return stories. Corona is one of the brands that also encourages a trip, urging you to "Find your beach" and return refreshed. And Expedia has built its whole new campaign around the idea of changing one's perception through journey and return.</p>
<div id="picture"> 
      <div style="background-color: #E8E8E8; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px"></h4>
    <iframe src="" width="500" 
    height="375">
    </iframe>
      </div>
  </div>
</div>
</br>
</br>
</br>

<div class="wrapper_c" id="six">
<h3>Rags to Riches</h3>
<p>In literature: Charles Dickens and Cinderella. In the movies: Trading Places. In ads: Chrysler, which is rising from the ashes of Detroit; and Johnny Walker, whose entire brand history is about a simple Scottish farmboy's rise to global prominence.</p>
<div id="picture"> 
      <div style="background-color: #E8E8E8; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px"></h4>
    <iframe src="" width="500" 
    height="375">
    </iframe>
      </div>
  </div>
</div>
</br>
</br>
</br>

<div class="wrapper_c" id="seven">
<h3>Tragedy</h3>
<p>From the Greeks through Shakespeare, these are stories of the dark side of humanity and the futile nature of human experience. Advertising has little use for such stories, except in PSA work, where shock tactics and depressing tales can get people to care about an issue.</p>
<div id="picture"> 
      <div style="background-color: #E8E8E8; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px"></h4>
    <iframe src="" width="500" 
    height="375">
    </iframe>
      </div>
  </div>
</div>
</br>
</br>
</br>


<div class="wrapper_c" id="eight">
<h3>Comedy</h3>
<p>The flipside of tragedy, and the last of the great storytelling tropes, it's perhaps the hardest to do well but is hugely popular in both popular art and advertising—with Old Spice and Geico among the brand leaders in the space.
</p>
<div id="picture"> 
      <div style="background-color: #E8E8E8; padding-right: 4px; padding-left: 6px; padding-top: 6px; margin: auto;">
        <h4 color="000";font-family="Arial";font-size="18px"></h4>
    <iframe src="" width="500" 
    height="375">
    </iframe>
      </div>
  </div>
</div>







</div>
</div>
</body>
</html>